**/COMP 476 Assignment 2/.vs
**/COMP 476 Assignment 2/Logs
**/COMP 476 Assignment 2/Library
**/COMP 476 Assignment 2/Packages
**/COMP 476 Assignment 2/Temp
**/COMP 476 Assignment 2/Build
**/COMP 476 Assignment 2/obj
**/COMP 476 Assignment 2/Assembly-CSharp.csproj
**/COMP 476 Assignment 2/COMP 476 Assignment 2.sln